name: _ Unit Test

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.4

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Install dependencies
        run: dotnet restore

      - name: Run Test
        run: dotnet test --no-restore --verbosity minimal
